.wrapper {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  padding: 1rem 0;
  border-bottom: 1px solid white;
  height: 50px;
}

.description {
  color: lightgrey;
}

.submit {
  font-size: 1.2rem;
  transition: 0.25s ease;
  padding: 0.5rem 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  background: white;
  border: none;
  width: 100%;
  margin-top: 1rem;
}

.submit:hover {
  background: lightgrey;
}

.error {
  color: red;
  margin-top: 1rem;
  height: 25px;
}

.filter {
  margin-top: 1rem;
}
