.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: white;
}

.App-description {
  color: lightgrey;
}

.App-input {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  color: white;
  transition: 0.25s ease;
}

.App-input:focus {
  outline: 0;
  border-color: white;
}

.App-submit {
  font-size: 1.5rem;
  margin-left: 1rem;
  background: none;
  border: 1px solid white;
  color: white;
  transition: 0.25s ease;
  padding: 0.5rem;
}

.App-submit:hover {
  background: white;
  color: #282c34;
}

.App-results-wrapper {
  border-top: 1px solid lightgrey;
  margin-top: 1rem;
}

.App-results {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.App-results .word {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: lightgrey;
  color: black;
  /* border-radius: 100%; */
  box-shadow: 2px 5px 5px black;
}

.App-error {
  color: red;
  margin-top: 1rem;
}

.App-filter {
  margin-top: 1rem;
}

.App-spinner-wrapper {
  display: flex;
  justify-content: center;
}

.App-spinner {
  border: 8px solid #fff;
  border-top: 8px solid #282c34;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-top: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
